.elementor-338 .elementor-element.elementor-element-a47a6c6{--display:flex;--min-height:326px;--justify-content:space-between;--border-radius:11px 11px 11px 11px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-338 .elementor-element.elementor-element-a47a6c6:not(.elementor-motion-effects-element-type-background), .elementor-338 .elementor-element.elementor-element-a47a6c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8FC;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );}.elementor-338 .elementor-element.elementor-element-4f5d4a8 img{width:100%;border-radius:11px 11px 0px 0px;}.elementor-338 .elementor-element.elementor-element-ec9f09c{--display:flex;--min-height:250px;--justify-content:space-between;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-338 .elementor-element.elementor-element-6251ad1{--display:flex;--justify-content:space-between;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-338 .elementor-element.elementor-element-1c35dc6{text-align:center;}.elementor-338 .elementor-element.elementor-element-1c35dc6 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:700;line-height:1.2em;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-338 .elementor-element.elementor-element-a4dff7b{text-align:center;font-family:"Poppins", Sans-serif;font-size:12px;font-weight:400;}.elementor-338 .elementor-element.elementor-element-378bd75{--display:flex;--justify-content:space-between;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:20px;--padding-left:10px;--padding-right:10px;}.elementor-338 .elementor-element.elementor-element-378bd75.e-con{--order:99999 /* order end hack */;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-338 .elementor-element.elementor-element-2a1b7f2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-2a1b7f2 .elementor-button{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:700;fill:#FFFFFF;color:#FFFFFF;border-radius:5px 5px 5px 5px;}@media(max-width:1024px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-338 .elementor-element.elementor-element-ec9f09c{--min-height:180px;}.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );}}@media(max-width:767px){.elementor-338 .elementor-element.elementor-element-a47a6c6{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:20px 20px;--row-gap:20px;--column-gap:20px;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-338 .elementor-element.elementor-element-4f5d4a8 img{width:100%;}.elementor-338 .elementor-element.elementor-element-ec9f09c{--min-height:100px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-338 .elementor-element.elementor-element-6251ad1{--min-height:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );}.elementor-338 .elementor-element.elementor-element-1c35dc6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );}.elementor-338 .elementor-element.elementor-element-a4dff7b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-338 .elementor-element.elementor-element-378bd75{--margin-top:5px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}}/* Start custom CSS for heading, class: .elementor-element-1c35dc6 */@media only screen and (max-width: 767px) {
.playful-titulo-carta{
    margin-top: 100px;
}

.playful-description {
    min-height: 50px !important;
}

}

@media only screen and (max-width: 600px) {
.playful-titulo-carta{
    margin-top: 90px;
}
}

@media only screen and (max-width: 400px) {
.playful-titulo-carta{
    margin-top: 60px;
}
}

@media only screen and (max-width: 380px) {
.playful-titulo-carta{
    margin-top: 50px !important;
}
}

@media only screen and (max-width: 350px) {
.playful-titulo-carta{
    margin-top: 20px !important;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-a47a6c6 */.visible .contenido {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
  counter-increment: item; /* Incrementa el contador para cada elemento */
}

.visible .contenido::before {
  content: counter(item); /* Usa el valor del contador */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #E5EBF5;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 15px;
    top: -45px;
  left: 43%;
  font-size: 17px;
}

.visible .contenido::after {
  top: -9%;
  right: -120px;
  width: 100%;
  position: absolute;
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #E5EBF5;
  margin-left: 15px;
}

/* Inicializa el contador */
body {
  counter-reset: item 0;
}

.visible .contenido-no:nth-child(5)::after {
  content: none !important;
}

/******************************/

/*.visible .carta-servicio:nth-child(6) .contenido::after {
    display: none !important;
}*/

.visible .carta-servicio:nth-child(n+5) .contenido::after {
    display: none !important;
}

.visible .carta-servicio:nth-child(n+6) .contenido::before {
    display: none !important;
}/* End custom CSS */